*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #AED36C;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #E9EBED;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .lado_esquerdo{
    position: relative;
    background: #295D09;
    padding: 40px;
}

.textoPerfil{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.textoPerfil .caixaImg{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

}

.textoPerfil .caixaImg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textoPerfil h2{
    color: #E9EBED;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.textoPerfil h2 span{
    font-size: 0.8em;
    font-weight: 300;
}

.infoContato{
    padding-top: 40px;
}

.titulo{
    color: #E9EBED;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;

}

.infoContato ul{
    position: relative;
}

.infoContato ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.infoContato ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #AED36C
}

.infoContato ul li span{
    color: #E9EBED;
    font-weight: 300;
}

.infoContato ul li span a{
    color: #E9EBED;
    text-decoration: none;
}

.infoContato.educacao li{
    margin-bottom: 15px;
}

.infoContato.educacao h5{
    color: #AED36C;
    font-weight: 500;

}

.infoContato.educacao h4:nth-child(2){
    color: #E9EBED;
    font-weight: 500;
}

.infoContato.educacao h4{
    color: #E9EBED;
    font-weight: 300;
}

.infoContato.idiomas .porcentagem{
    position: relative;
    width: 100%;
    height: 6px;
    background: #03A9F4;
    display: block;
    margin-top: 5px;
}

.infoContato.idiomas .porcentagem div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #69AB3D;
}

.container .lado_direito{
    position: relative;
    background: #E9EBED;
    padding: 40px;
}

.sobre{
    margin-bottom: 50px;
}

.sobre:last-child{
    margin-bottom: 0;
}

.titulo2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: #333;
    text-align: justify;
}

.sobre .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.sobre .box .ano_empresa{
    min-width: 150px;

}

.sobre .box .ano_empresa h5{
    text-transform: uppercase;
    color: #848C90;
    font-weight: 600;
}

.sobre .box .texto h4{
    text-transform: uppercase;
    color: #295D09;
    font-size: 16px;

}

.habilidades .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
}

.habilidades .box h4{
    text-transform: uppercase;
    color: #848C99;
    font-weight: 500;
}

.habilidades .box .porcentagem{
    position: relative;
    width: 100%;
    height: 10px;
    background: #F0F0F0;
}

.habilidades .box .porcentagem div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #69AB3D;
}

.hobbies ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.hobbies ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.hobbies ul li .fa{
    color: #295D09;
    font-size: 18px;
}

@media (max-width: 1000px) {
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .hobbies ul{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 600px){
    .sobre .box{
        flex-direction: column;
    }

    .sobre .box .ano_empresa{
        margin-bottom: 5px;
    }

    .hobbies ul{
        grid-template-columns: repeat(1,1fr);
    }

    .habilidades .box{
        grid-template-columns: repeat(1,1fr);
    }
}
